@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.register {
    margin-top: 150px;
    padding: 30px 0 60px;
}

.register__container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(104, 132, 133);
    box-shadow: 0 0 3px rgb(62, 78, 78);
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}

.container__register_label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(117, 145, 146);
    padding: 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.container__register_label span svg {
    width: 30px;
    height: 30px;
}

.container__register_label span {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
}

.container__register_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.register_form__email_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form__username_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form__email {
    width: 300px;
    height: 33px;
    border: 2px solid #000000;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    outline: none;
    font-weight: 600;
    background-color: rgb(117, 145, 146);
    margin-left: 35px;

    transition: all .1s linear;
}

.register_form__email:focus {
    border-color: rgb(21, 70, 70);
    color: rgb(0, 44, 44);
}

.register_form__email:focus::-webkit-input-placeholder {
    color: rgb(21, 70, 70);
}

.register_form__email:focus ~ .form_email_img {
    color: rgb(21, 70, 70);
}

.register_form__email:focus ~ .form_password_img {
    color: rgb(21, 70, 70);
}

.register_form__email::-webkit-input-placeholder {
    color: #000000;
    font-family: 'Rubik', sans-serif;

    transition: color .1s linear;
}

.form_input_img {
    position: absolute;
    left: 28px;
    width: 35px;
    height: 35px;

    transition: all .1s linear;
}

.register_form__password_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form__password_block__validation {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.register_form__login_block {
    display: flex;
    flex-direction: column;
    background-color: rgb(117, 145, 146);
    width: 170px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 50px;
    row-gap: 4px;
}

.register_form__login_block span {
    font-size: 12px;
    color: rgb(65, 8, 8);
    text-transform: uppercase;
}

.register_form__login_block a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 3px;
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;

    transition: color .2s linear;
}

.register_form__login_block a:hover {
    color: rgb(0, 68, 68);
}

.register_form__login_block svg {
    width: 17px;
    height: 17px;
}

.register_form__btn_block {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.register_form__btn_block button {
    width: 120px;
    height: 28px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(50, 71, 71);
    color: rgba(238, 238, 238, 0.795);
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    column-gap: 8px;

    transition: all .2s linear;
}

.register_form__btn_block button:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(44, 53, 53);
    box-shadow: 0 0 6px rgb(44, 53, 53);
}