@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(43, 43, 43);
    height: 100%;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(104, 132, 133);
    --white: rgba(240, 248, 255, 0.795);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background-color: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 132, 133);
    border-radius: 3px;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.go_back {
    position: absolute;
    left: 100px;
    top: 200px;
    display: flex;
    font-size: 17px;
    color: rgb(207, 199, 199);
    font-family: 'Rubik', sans-serif;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    column-gap: 5px;

    transition: all .2s linear;
}

.go_back__svg {
    width: 24px;
    height: 24px;

    transition: transform .2s linear;
}

.go_back:hover {
    transform: translateX(-5px);
    color: rgb(219, 62, 62);
}

.go_back:hover .go_back__svg {
    transform: translateX(-6px);
}

.validation {
    position: absolute;
    bottom: 43px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}