@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(104, 132, 133);
    z-index: 100;
}
 
.header__container {
    height: 100px;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__logo img {
    width: 130px;
    height: 75px;
}

.container__nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
    column-gap: 22px;
    height: 65%;
}

.container__nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: color .2s linear;
    font-family: 'Rubik', sans-serif;
}

.normal_link {
    color: rgb(0, 0, 0);
}

/* .cart_len {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(104, 132, 133);
    color: rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
} */

.container__nav a:hover {
    color: rgb(0, 68, 68);
}

@keyframes activeLink {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes activeLinkColor {
    from {
        color: rgb(0, 0, 0);
    }

    to {
        color: rgb(0, 68, 68);
    }
}

.active {
    position: relative;
    color: rgb(0, 68, 68);
    padding: 0 0 2.5px;
    animation: activeLinkColor .2s linear;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    border: 1px solid rgb(0, 68, 68);
    animation: activeLink .2s linear;
}

.container__nav svg {
    width: 22px;
    height: 22px;
    margin-right: 3px;
}

.nav__user_container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 150px;
    transition: all .2s linear;
    background-color: rgb(113, 139, 139);
    transform: translateY(8px);
    border-radius: 8px;
}

@keyframes showDropDownUserMenu {
    from {
        opacity: .1;
        transform: translateY(-3px);
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.nav__user_container:hover .user_container__dropdown_user_options {
    display: flex;
}

.user_container__is_authenticated {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
}

.is_authenticated__user_options {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.is_authenticated__user_options svg {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    transition: transform .2s linear;
}

.nav__user_container:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav__user_container:hover .is_authenticated__user_options svg {
    transform: rotate(90deg);
}

.is_authenticated__user_options span {
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.go_to_login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.user_container__dropdown_user_options {
    background-color: rgb(113, 139, 139);
    display: none;
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    animation: showDropDownUserMenu .3s linear forwards;
}

.user_container__dropdown_user_options button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px 5px;
    cursor: pointer;
    background: transparent;
    transition: all .2s linear;
}

.user_container__dropdown_user_options button:hover {
    background-color: rgb(122, 148, 148);
}

.dropdown_user_options__imgs {
    width: 27px;
    height: 27px;
}

.user_container__dropdown_user_options button:nth-child(2):hover {
    color: rgb(155, 31, 31);
}

.user_container__dropdown_user_options button:nth-child(2) svg {
    transform: rotate(180deg);
}

.user_container__dropdown_user_options button:nth-child(1) svg {
    transition: transform .2s linear;
}

.user_container__dropdown_user_options button:nth-child(1):hover svg {
    transform: rotate(30deg);
}