@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.forgot_password {
    margin-top: 280px;
    background-color: rgb(104, 132, 133);
}

.container__forgot_name {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-family: 'Rubik', sans-serif;
}

.forgot_password__container {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container__forgot_name span:first-child {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
}

.container__forgot_name span:last-child {
    color: rgb(14, 33, 54);
}

.container__forgot_password_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__forgot_password_form form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

.container__forgot_password_form input {
    width: 400px;
    height: 40px;
    outline: none;
    border: 2px solid rgb(31, 85, 87);
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;

    transition: border-color .2s linear;
}

.container__forgot_password_form input:focus {
    border-color: rgb(0, 0, 0);
}

.container__forgot_password_form button {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(50, 71, 71);
    color: rgba(238, 238, 238, 0.795);
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 8px;
    text-transform: uppercase;
    margin-top: 18px;

    transition: all .2s linear;
}

.container__forgot_password_form button:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(44, 53, 53);
    box-shadow: 0 0 6px rgb(44, 53, 53);
}


/* ------------------------------------------------------------ */


.reset_password__by_link_email {
    position: relative;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset_password__by_link_email form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

.reset_password__by_link_email form input {
    width: 400px;
    height: 40px;
    outline: none;
    border: 2px solid rgb(43, 43, 43);
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;

    transition: border-color .2s linear;
}

.reset_password__by_link_email form input:focus {
    border-color: rgb(104, 132, 133);
}

.reset_password__by_link_email form input::placeholder {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.reset_password__by_link_email form button {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(44, 53, 53);
    background-color: rgba(240, 248, 255, 0.795);
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 18px;

    transition: all .2s linear;
}

.reset_password__by_link_email form button:hover {
    color: rgb(247, 242, 242);
    background-color: rgba(168, 167, 167, 0.74);
}

.validation_of_forgot_password {
    position: absolute;
    bottom: 43px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}