.footer {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 200px;
    margin-top: auto;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.container__sm_img {
    display: flex;
    flex-direction: column;
}

.container__sm_img img {
    width: 80px;
    height: 80px;
    transition: all .3s linear;
}

.container__footer_logo img {
    width: 95px;
    height: 68px;
}