@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.category_things {
    margin-top: 155px;
}

.things__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 95%;
    padding-bottom: 60px;
}

.things_container__search {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.things_container__search input {
    width: 400px;
    height: 35px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    padding: 0 10px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 6px rgb(104, 132, 133);
    background-color: rgb(113, 139, 139);
    font-weight: 600;

    transition: all .1s linear;
}

.things_container__search input:focus {
    border-color: rgb(156, 180, 180);
    box-shadow: none;
}

.things_container__search button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.things_container__search svg {
    width: 30px;
    height: 30px;
    color: rgb(113, 139, 139);
}

.things_container__search svg:hover {
    color: rgb(135, 155, 155);
}

.things_container__things_box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.category_things__thing {
    position: relative;
    text-decoration: none;
    width: 330px;
    height: 550px;
    background-color: rgb(104, 132, 133);
    box-shadow: 0 0 10px rgb(104, 132, 133);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    padding: 0 20px 30px;

    transition: all .1s linear;
}

.category_things__thing:hover {
    box-shadow: 0 0 15px rgb(104, 132, 133);
}

.thing__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name__imgs {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 220px;
    height: 220px;
    cursor: pointer;
}

@keyframes firstImageOfThingShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.name__imgs img {
    width: 220px;
    height: 220px;
    padding: 0;
    object-fit: cover;
    object-position: center;
    margin: 0;

    animation: firstImageOfThingShow .3s ease-in-out;
}

@keyframes firstImageOfThingHide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.name__imgs:hover img:first-child {
    animation: firstImageOfThingHide .2s ease-in-out forwards;
}

.name__title {
    color: rgb(31, 30, 30);
    text-decoration: none;
    font-size: 19px;
    transition: color .2s linear;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.name__title:hover {
    color: rgb(238, 238, 238);
}

.thing__description {
    width: 100%;
    background-color: rgb(97, 120, 121);
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    row-gap: 3px;
    margin-top: 10px;
    border-radius: 5px;
}

.description__in_having {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.description__made_in {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.description__sizes {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 10px;
    color: #000;
}

.description__sizes span {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.description__sizes input[type="radio"] {
    display: none;
}

.description__sizes form {
    display: flex;
    column-gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.sizes__label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    width: 30px;
    height: 22px;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    
    transition: all .1s linear;
}

.sizes__label:hover {
    color: rgb(31, 30, 30);
    border-color: rgb(31, 30, 30);
}

.sizes__label_active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    width: 30px;
    height: 22px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    border: 2px solid rgb(129, 20, 20);
    color: rgb(129, 20, 20);
    
    transition: all .1s linear;
}

.thing__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.price__price {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 19px;
}

.price__buy_btn {
    width: 120px;
    height: 28px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(50, 71, 71);
    color: rgba(238, 238, 238, 0.795);
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all .2s linear;
}

.price__buy_btn:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(44, 53, 53);
    box-shadow: 0 0 6px rgb(44, 53, 53);
}

.thing__add_to {
    position: absolute;
    display: flex;
    bottom: 3px;
    right: 5px;
    column-gap: 3px;
}

.thing__add_to button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.thing__add_to svg {
    width: 22px;
    height: 22px;
}

.thing__add_to img {
    width: 22px;
    height: 22px;
}


@keyframes AdToWishlist {
    0% {
        stroke: #ac2323;
        stroke-dashoffset: 60;
    }

    100% {
        stroke: #ac2323;
        stroke-dashoffset: 0;
    }
}

@keyframes AdToWishlistKnock {
    0% {
        stroke: #a13333;
        fill: #a13333;
    }

    20% {
        stroke: #a13333;
        fill: #a13333;
        transform: scale(0.8);
    }

    50% {
        stroke: #a13333;
        transform: none;
    }

    80% {
        stroke: #a13333;
        transform: scale(0.8);
    }

    100% {
        color: #a13333;
        fill: #a13333;
    }
}

.favorites_heart__active {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    color: #000;

    animation: AdToWishlist .8s linear forwards, AdToWishlistKnock .4s .8s linear forwards;
}

.unautheticated {
    color: #000;
}

.login_needed {
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
